

			h1 {
				text-align:center;
				color:SlateBlue;
			}

			.container {
				width:50%;
				min-width:600px;
				margin-bottom:50px;
			}

			img {
				display:block;
				margin:auto;
				width:50%;
			}

		        h3 {
		               text-align:center; 
		               color:SlateBlue;
		        }
