                            
                            
                            h1 {
					text-align:center;
					color:PaleVoiletRed;
					font-family: Lucida Console;
				}

				.container {
					width:50%;
					min-width:600px;
					margin-bottom:50px;
					font-family: Lucida Console;
				}

				img {
					display:block;
					margin:auto;
					width:50%;
				}

			        h3 {
			                text-align:justify;
			                color:PaleVoiletRed;
			        }
			        
			        para {
			        	text-align:justify;
			        	color:PaleVoiletRed;
			        }