                            
                            
                                h1 {
					text-align:center;
					font-size:40px;
				}

				.container {
					width:50%;
					min-width:600px;
					margin-bottom:50px;
					font-family: Garamond;
					color:#708090;
					font-size:28px;
				}

				img {
					display:block;
					margin:auto;
					width:50%;
				}
                                
                                h3 {
                                	text-align:justify;
                                }
			        
			        para {
			        	text-align:justify;
			        }