                            
                            
                                h1 {
					text-align:center;
					
				}

				.container {
					width:50%;
					min-width:600px;
					margin-bottom:50px;
					font-family: Garamond;
					color:#DB7093;
				}

				img {
					display:block;
					margin:auto;
					width:50%;
				}
                                
                                h3 {
                                	text-align:justify;
                                }
			        
			        para {
			        	text-align:justify;
			        }